doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    ul
      each task in tasks
        li= task.description
        form(action=`/tasks/${task.id}?_method=DELETE` method="POST")
          button Remover
