<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Create new Task
  body
    form(action="/tasks" method="POST")
      div
        label(for="description") Description
        textarea#description(name="description" cols="30" rows="10")
      button.btn.btn-primary(type='submit') Enviar