<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Create new Task
  body
    form(action="/users" method="POST")
      div
        label(for="email") Email
        input#email(type="email" name="email")
      div
        label(for="email") Password
        input#password(type="password" name="password")
      div
        button.btn.btn-primary(type='submit') Crear cuenta